main{
section{
  padding: 10px 0 10px 0;
.card{
  border: none!important;
   box-shadow: none;
}
}



.carousel{
.carousel-indicators{
}

.carousel-inner{
border-radius: 6px;
}}


.popular-items{
    
.card{

height: 100%;
}


}




}

