

@mixin bg-variant($bg, $color){
.bg-#{$color}{
@include gradient-bg($bg);
color: white;
.title{
  font-weight: 600;
}

a{
color: white;
}

a:hover{
text-decoration: underline;
color: white;
}

}


}